.btn-create-note {
  position: relative;
  transition: all 0.5s ease-in-out;
  background-color: #006bb3;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-create-note::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.btn-create-note:hover::before {
  animation: shine 1.5s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
