.form-card-image {
    width: 100%;
    background-color: #000000be;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    gap: 14px;
  }
  .input-form-image{
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
  }
  .btn-form-image{
    padding: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    color: #717171;
    background: #313131;
    text-align: center;
  }
  
  .btn-form-image:hover {
    background: #fff;
    transition: background .5s;
    color: #3b3b3b;
  }